In [19]:
print("correct intend");
print("incorrect intend")

correct intend
incorrect intend

In [20]:
print(500-45)

455

In [21]:
if True:
    print("good")
print("fk")

good
fk

In [24]:
x = "3"
y ="2"
print(x+y)

32

In [25]:
x= 300
x**3

27000000

In [27]:
radious = 4.0
print('원의 반지름', radious)
print('원의 면적', 3.14*radious*radious)
print('원의 둘레', 2.0*3.14*radious)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [28]:
x =10
print("둘레", x*2*3.14)

둘레 62.800000000000004

In [33]:
lum =100
lst = [10, 20, 30]
total = sum(lst)

TypeError: 'int' object is not callable

name = '홍길동'
age = 27
print('안녕 ! 나는', name , '이야.나는 나이가', age, '살이야.')

In [34]:
name = '홍길동'
age = 27 
print('안녕 ! 나는', name , '이야.나는 나이가', age, '살이야.')

안녕 ! 나는 홍길동 이야.나는 나이가 27 살이야.

In [35]:
w=20
h=40
w=30
area = w*h
print('사각형의 면적', area)

사각형의 면적 1200

In [37]:
5%2

1

2**0.5

In [38]:
2**0.5

1.4142135623730951

In [40]:
3**(1.0/2.0)

1.7320508075688772